.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
}

.modal_opened {
  visibility: visible;
}

.modal__label {
  margin-top: 8px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 24px;
}

.modal__label-email {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
}

.modal__label-password {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
}

.modal__label-name {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
}

.modal__label-avatarURL {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
  background: #0000004d;
  background-image: url("../../assets/closeButton.svg");
  width: 20px;
  height: 20px;
}

.modal__close_type_image {
  top: 26px;
  right: 26px;
  border: none;
  background-color: transparent;
  background-image: url("../../assets/images.svg");
  cursor: pointer;
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__button-SignUp {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.modal__button-orLogin {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background: transparent;
}

.modal__footer-row {
  display: flex;
}

.modal__content {
  background-color: #fff;
  position: relative;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 28px 28px 36px;
}

.modal__content_type_confirm {
  display: flex;
  flex-direction: column;
}

.modal__content_type_delete {
  width: 670px;
  height: 280px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  border-radius: 8px;
  margin-top: 32px;
  border: none;
  background: #0000004d;
}

.modal__secondary-button {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  margin-top: 8px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid;
  padding: 4px 0px;
  margin-bottom: 24px;
}

.modal__input::placeholder {
  color: #7a7a7a;
}

.modal__input:active {
  border: none;
  border-bottom: 1px solid;
}

.modal__temp-selections {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__legend {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.modal__label_type_radio {
  margin-top: 8px;
  margin-bottom: 0px;
}
