.modal__image {
  width: 498px;
  height: 498px;
}

.modal__caption {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 12px 0 0 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__footer {
  padding: 20px 32px 32px 32px;
}

.Modal__delete-button {
  width: 101px;
  height: 24px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  color: #ff4d00;
  display: flex;
  padding: 0;
  border: none;
  gap: 20px;
  background-color: transparent;
}
