.clothes-section {
  padding: 0;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.clothes-section__items {
  margin: 0;
  padding: 0;
  justify-content: center;
  box-sizing: border-box;
  justify-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.clothesSection__title {
  display: flex;
  gap: 20px;
  padding-left: 50px;
  margin-bottom: 20px;
}


.Clothes__items {
  width: 94px;
  height: 25px;
  margin: 0;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
}

.ClothesSection__add-new {
  border: none;
  background-color: transparent;
  font-family: Cabinet Grotesk;
  height: 25px;
  font-weight: 700;
  font-size: 20px;
}

/* @media screen and (max-width: 1365px) {
  .clothes-section__list {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 16px;
    grid-auto-rows: 228px;
  }
}

@media screen and (max-width: 800px) {
  .clothes-section {
    align-items: center;
    width: 100%;
  }
} */
